extends layout 
block content 
    main.main
        h4.home-title #{content.title}
        //- to add inline js code use "- js-code" and example: "- console.log(posts)"
        section.main__body
            each post in posts
                article.article 
                    p.article__author Yugur Yagmur · 29th Sept, 2022.
                    a.article__description(href=`/posts/${post.title}`)
                        h3.article__description--title=post.title
                        p.article__description--text=post.text.substring(0,99)+"..."
                    div.article__tags
                        span sports 
                        span entertainments
                
            article.article 
                p.article__author Yugur Yagmur · 29th Sept, 2022.
                a.article__description(href="")
                    h3.article__description--title 5 Harsh Truths for Success from Linus Torvalds
                    p.article__description--text If you don’t know who LinusTorvalds is, I will give you a short introduction: If you’re a software engineer, you should know what Linux isand I’m almost sure that you used Git at least one time. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas officiis ad recusandae, vero corrupti, sint voluptatibus sed nam optio ut natus, provident reiciendis modi assumenda.
                div.article__tags
                    span sports 
                    span entertainments
            article.article 
                p.article__author Yugur Yagmur · 29th Sept, 2022.
                a.article__description(href="")
                    h3.article__description--title 5 Harsh Truths for Success from Linus Torvalds
                    p.article__description--text If you don’t know who LinusTorvalds is, I will give you a short introduction: If you’re a software engineer, you should know what Linux isand I’m almost sure that you used Git at least one time. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas officiis ad recusandae, vero corrupti, sint voluptatibus sed nam optio ut natus, provident reiciendis modi assumenda.
                div.article__tags
                    span sports 
                    span entertainments
                        
