extends layout 
block content 
    section.posts
        article.article 
            p.article__author Yugur Yagmur · 29th Sept, 2022.
            a.article__description(href="")
                h3.article__description--title #{title}
                p.article__description--text 
                    #{content} 
            div.article__tags
                span sports 
                span entertainments

        