*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: #24292d;
  color: #f2f2f2;
  font-size: 1.4rem;
  max-width: 144rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

ul {
  list-style-type: none;
}

.btn {
  border: none;
  background: none;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  font-family: "Roboto", sans-serif;
}
.btn:hover {
  cursor: pointer;
  background-color: #6af61c;
}

.btn-primary {
  background-color: #57e309;
}

.btn-white {
  background-color: #f2f2f2;
}

.btn-grey {
  background-color: #d9d9d9;
}

.btn-black {
  background-color: #212529;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 5vw;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: #24292d;
  border: 1px solid grey;
}
.header a {
  display: flex;
  align-items: center;
}
.header a img {
  height: 2.5rem;
}
.header__nav ul li {
  display: inline-block;
}
.header__nav ul li:not(:last-child) {
  margin-right: 5rem;
}
.header__nav--link {
  text-decoration: none;
  color: #d9d9d9;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 0.2rem;
}
.header__nav--link:hover {
  color: #f2f2f2;
}
.header__nav .nav-link-icon {
  display: none;
}

.main {
  transform: translateY(10rem);
  padding: 2.5rem 5vw 7.5rem !important;
}
.main .home-title {
  margin-bottom: 3.5rem;
}
.main .main__body .article {
  padding: 2.5rem;
  border: 0.5px solid #434b53;
  border-left: 1rem solid #434b53;
  margin-bottom: 2.5rem;
}
.main .main__body .article__author {
  font-weight: 100;
  margin-bottom: 3rem;
}
.main .main__body .article__description {
  text-decoration: none;
}
.main .main__body .article__description--title {
  color: #57e309;
  font-size: 2.25rem;
  margin-bottom: 1rem;
}
.main .main__body .article__description--text {
  font-size: 1.65rem;
  color: #d9d9d9;
  font-family: "Crimson Pro", serif;
  margin-bottom: 2rem;
  line-height: 1.6;
}
.main .main__body .article__tags {
  margin-bottom: 0.25rem;
  display: flex;
  gap: 0.5rem;
}
.main .main__body .article__tags span {
  background-color: #d9d9d9;
  color: #212529;
  font-size: 0.75rem;
  text-transform: uppercase;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.footer {
  background-color: #57e309;
  padding: 1rem 5vw;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.footer-heart {
  color: #212529;
}

.write {
  transform: translateY(10rem);
  padding: 2.5rem 5vw 7.5rem !important;
}
.write h4 {
  margin-bottom: 2.5rem;
}
.write input,
.write textarea {
  border: none;
  background-color: #5a6570;
  color: #d9d9d9;
  font-family: "Crimson Pro", serif;
  padding: 1rem;
  display: block;
  width: 100%;
  margin-top: 1rem;
  border-left: 1rem solid #999999;
  outline: none;
  font-size: 2rem;
}
.write input::placeholder,
.write textarea::placeholder {
  color: #999999;
}
.write .btn-post {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 1rem;
  padding: 1rem 2.5rem;
}

.about {
  transform: translateY(10rem);
  padding: 2.5rem 5vw 7.5rem !important;
}
.about h3 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.about p {
  line-height: 1.6;
}

.logout {
  transform: translateY(10rem);
  padding: 2.5rem 5vw 7.5rem !important;
}

.posts {
  transform: translateY(10rem);
  padding: 2.5rem 5vw 7.5rem !important;
}
.posts .article {
  padding: 2.5rem;
  border: 0.5px solid #434b53;
  border-left: 1rem solid #434b53;
  margin-bottom: 2.5rem;
}
.posts .article__author {
  font-weight: 100;
  margin-bottom: 3rem;
}
.posts .article__description {
  text-decoration: none;
}
.posts .article__description--title {
  color: #57e309;
  font-size: 2.25rem;
  margin-bottom: 1rem;
}
.posts .article__description--text {
  font-size: 1.65rem;
  color: #d9d9d9;
  font-family: "Crimson Pro", serif;
  margin-bottom: 2rem;
  line-height: 1.6;
}
.posts .article__tags {
  margin-bottom: 0.25rem;
  display: flex;
  gap: 0.5rem;
}
.posts .article__tags span {
  background-color: #d9d9d9;
  color: #212529;
  font-size: 0.75rem;
  text-transform: uppercase;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

@media screen and (max-width: 768px) {
  .nav-link-text {
    display: none;
  }
  .nav-link-icon {
    display: block !important;
  }
}

/*# sourceMappingURL=styles.css.map */
